<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.24" targetFramework="net472" />
  <package id="Ookii.Dialogs" version="1.0" targetFramework="net472" />
  <package id="OpenTK" version="3.2" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="Xamarin.Forms" version="4.7.0.1080" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.WPF" version="4.7.0.1080" targetFramework="net472" />
</packages>